body
 {background-color: rgb(0, 0, 0);}

 .website-title {
     font-size:50px;
     text-align: center;
     background-color: hsl(0, 0%, 0%);
     color:rgb(255, 255, 255);
 }
 h2 {
    font-size: 60px;
 }

.typogrphy-section {
    background-color:rgb(8, 8, 224);
    text-align:center;
    color:rgb(118, 152, 204);;
}

.TypeTask {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.type-container img{
    background-color:rgb(0, 0, 0);
    width: 300px;
    align-items:center;
    padding:10px;
}
 

.type-container  p{
    width: 300px;
    align-items:center;
    flex-direction:column;

}

.CARP-TASK {
    background-color: rgb(172, 12, 12);
    text-align: center;
    color:rgb(0, 0, 0)
}
.carp {
display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
 
.CARP-TASK img{
    
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

 .poster-container1  img{
     width: 200px;
    background-color: rgb(0, 0, 0);
    float: left;
    align-items: center;
    padding: 10px;
 }
 

 .poster-container2 img{
     width:400px;
    background-color: rgb(0, 0, 0);
    float: center;
    align-items:center;
    padding: 10px;
 }  

 .poster-container3 img{
     width:200px;
    background-color: rgb(0, 0, 0);
    float:right;
    align-items:center;
    padding: 10px;
 }
 

.CODING-TASK {
    
    text-align: center;
    background-color:hsl(0, 0%, 0%);
    color:rgb(212, 42, 235);;
    text-shadow: rgb(33, 14, 37);
}
.UX-section {
    
    text-align:center;
    background-color:hsl(0, 0%, 0%);
    color:rgb(75, 7, 7);;
    text-shadow: rgb(190, 13, 235);
}



