body 
 {background-color: rgb(0, 0, 0);}

 .website-title {
     font-size:80px;
     text-align:center;
     background-color: rgb(238, 143, 209);
     color:rgb(255, 255, 255);
 }
 .intropage {
    background-image:url(images/pinkbackground.jpg);
     
 } 
 .firstparagraph {
    background-color: rgb(238, 143, 209);
    font-style: oblique;
    text-align:center;
    font-size: larger;
    color: rgb(0, 0, 0);
}
.button1 
    



    
 
 h2 {
    font-size: 60px;
    font-style:oblique;
 }

.typogrphy-section {
   background-image:url(images/blue\ background.jpg);
    text-align:center;
    color:rgb(191, 244, 248);
}
.paragraph {
    background-color: blue;
    font-style: oblique;
    text-align:center;
    font-size: larger;
    color: rgb(0, 0, 0);
}


.TypeTask {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.type-container img{
    background-color:rgb(5, 20, 224);
    width: 300px;
    align-items:center;
    padding:10px;
}
 

.type-container  p{
    background-color:rgb(128, 224, 248);
    width: 400px;
    align-items:center;
    color: blue;
    text-align:center;
    flex-direction:column;

}

.CARP-TASK {
    background-image:url(images/red\ option2.jpg);
    text-align: center;
    
}
.paragraph2 {
    background-color: rgb(0, 0, 0);
    color:rgb(212, 9, 9);
    text-align: center;
    font-style: oblique;
}
.carp {
display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
 
.CARP-TASK img{
    
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

 .poster-container1  img{
     width: 240px;
    background-color: rgb(0, 0, 0);
    float: left;
    align-items: center;
    padding: 10px;
 }
 .poster-container1 p{
     width:260px;
     background-color:rgb(212, 9, 9);
     align-items: center;
     color:black;
     font-style: italic;
     

 }
 
 
 .poster-container2 img{
     width:400px;
    background-color: rgb(0, 0, 0);
    float: center;
    align-items:center;
    padding: 10px;
 }  
 .poster-container2 p{
    width:420px;
    background-color: rgb(212, 9, 9);
    align-items: center;
    color:black;
    text-align: center;
    font-style: italic;
    
}

 .poster-container3 img{
     width:240px;
    background-color: rgb(0, 0, 0);
    float:right;
    align-items:center;
    padding: 10px;
 }
 .poster-container3 p{
    width:260px;
    background-color: rgb(212, 9, 9);
    align-items: center;
    color:black;
    font-style: italic;
    
}
 

.CODING-TASK {
    background-image:url(images/purplebackground.jpg);
     text-align:center;
     color:rgb(186, 145, 209);
     
}
.paragraph3 {
    background-color: rgb(45, 20, 78);
    color:rgb(186, 145, 209);
    text-align: center;
    font-style: oblique;
}

.poster-container4 {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;

}

.poster-container4 img{
    background-color: rgb(139, 100, 175);
    padding:10px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.links {
    background-color: rgb(139, 100, 175);
    font-size: 30px;
   text-align:center;
  
  
   
}


.USEREXPERIENCETASK  {
    background-image:url(images/greenbackground.jpg);
    text-align:center;
    color:rgb(0, 155, 111);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin-top: 3%;
    
}
.poster-container5  {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.poster-container5 img {
    background-color:rgb(127, 230, 187);
    padding:10px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;

}

.paragraph4 {
    background-color: rgb(127, 230, 187);
    color:black;
    text-align: center;
    font-style: oblique;
}




